{% extends 'chat/base_ctOS.html' %}

{% block content %}
  <p style="font-size: 30pt; color:#ffffff;">
  <span style=" font-family: 'HACK';">Молодец, ты нашел </span><span style=" font-family: 'HACKED'; color:#40fd14;">скрытую страницу</span>.<br>
  H0 тут тебе делать <span style=" font-family: 'HACKED'; color:#40fd14;">нечего</span>, эт0 <span style=" font-family: 'HACKED'; color:#40fd14;">не</span> игр0в0е п0ле.<br>
  <div align="right" ><p style="font-size: 30pt; color:#ffffff;"><a href="http://ctosblume.pythonanywhere.com/" target="_blank"><span style=" font-family: 'HACKED'; color:#40fd14;">Вернуться в игру</span></a></div></br>
  </p><p style="font-size: 30pt; color:#ffffff;">
    _или ты <span style=" font-family: 'HACK'; color:#40fd14;">инротех</span>? ~~~(8:>
  <br>
<div align="center">
<img src="/static/img/DedSec.png">
<br>
<span style="font-family: 'HACK'; color:#fff; font-size: 30pt ">Вход для АДМИНА</span></p></div>
{% endblock %}
