{% load static %}
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<title>Watch_Dogs //LARP</title>
<link rel="stylesheet" href="{% static 'css/ctOS.css' %}">
<style>
  @font-face {
    font-family: 'HACKED';
    src:      url('HACKED.ttf');
  }

  @font-face {
    font-family: 'hack';
    src:      url('hack.ttf');
  }
</style>
</head>

<body>
<table border="0" cellpadding="0" cellspacing="0" width="100%"><tbody><tr><td width="100%" align="center"><table border="0" cellpadding="0" cellspacing="0">
<tbody><tr><td width="261" height="85">
  <span id="ctOS" style="  font-size: 60pt; font-family: 'Helvetica'"><span id="_">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span id="ct">cт</span><span id="OS">OS</span></span></td>
<td width="457"></td>
<td style="font-size:9px;padding-right:35px;">
  <div style="color:#CCCCCC;text-align:center;"></div></td>
</tr>
</tbody></table></td></tr></tbody></table>

<table cellpadding="0" cellspacing="0" border="0" width="100%" style="padding: 0 10px;"><tr><td width="100%" align="center">

<table border="0" cellpadding="0" cellspacing="0" width="100%">
<tr>
<td valign="top" width="202">
</td>
<td valign="top" style="padding:0 10px;">
<table border="0" cellpadding="0" cellspacing="0" align="center" width="840">
  <tr><td style="padding: 5px; width: 830px;">
{% block content %}
{% endblock %}
</table>
</td>
<td valign="top" width="202">
</td>
</tr>
</table>
<br />
<table border="0" cellpadding="4" cellspacing="0" width="898" height="50" >
<tr><td align="center" style="color:#FFFFFF;">_WATCH_DOGS//ROLEGAME. &copy; 2018<br />
<span style="color:#999999;">Все шрифты взяты из открытого доступа и не используются в комерческих целях.</span>
</td></tr>
</table>
</td></tr></table>
</body>
</html>
