{% extends 'chat/base_ctOS.html' %}

{% block content %}
<span style="color:#ffffff; font-size: 15pt;">
  <div align="left">
    Вы в системе. <br>
    Логин: lg <br>
    Пароль: ххххххххххххххххххххххх <br>
    Пароль верный. <br>
    Доступ разрешён. <br>
  </div>
  <div align="right">
    Для активации команд системы  <br>
    нажмите "присоединиться к чату",  <br>
    далее просто введите свой хаккерский ник  <br>
    и продолжайте общение напрямую с <span id="ctOS"  style="font-family: 'Helvetica';"><span id="_">&nbsp;&nbsp;&nbsp;&nbsp;</span><span id="ct">ct</span><span id="OS">OS</span></span> <br>
  </div>
<!--    <br><br><br><br><br><br>

    {% for post in posts %}
    <div>
        <p>published: {{ post.published_date }}</p>
        <h1><a href="">{{ post.title }}</a></h1>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
    {% endfor %}
--->
    <br>
    <iframe src="http://ctosst.chatovod.ru/" frameborder="0" marginheight="0" marginwidth="0" width="100%" height="450"></iframe><p><a href="http://chatovod.ru/"></a></p>
      <div align="center"><a href="http://ctosst.chatovod.ru/">> Для тех у кого не отображается чат <</a></div>
    <br>

<div align="left" style="font-size: 10pt;">
Эту страницу ctOS взломали и сделали доступной
<pre><span style="color:#f0fff0;"><span style="white-space: pre-wrap;">&nbsp;&nbsp;&nbsp;&nbsp;____&nbsp;&nbsp;___________&nbsp;&nbsp;______&nbsp;____________ </span>
&nbsp;&nbsp;&nbsp;/&nbsp;__&nbsp;\/&nbsp;____//&nbsp;__&nbsp;\/&nbsp;____//&nbsp;___//&nbsp;____/\
&nbsp;&nbsp;/&nbsp;/&nbsp;/&nbsp;/&nbsp;__/&nbsp;//&nbsp;/&nbsp;/&nbsp;/\__&nbsp;\&nbsp;/&nbsp;__/&nbsp;/&nbsp;/\___\/
&nbsp;/&nbsp;/_/&nbsp;/&nbsp;/___//&nbsp;/_/&nbsp;/___/&nbsp;//&nbsp;/___/&nbsp;/_/__
/_____/_____//_____//____//_____/\_____/\
\_____\\____\\\____\\____\\_____\_\____\/ </span></pre>
</div>


<div align="right" style="font-size: 10pt;">
Потерял Profiler со списком команд? Бывает, LOL <br>
<a href="http://ctosblume.pythonanywhere.com/info_full/">>нажми сюда<</a>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span> </p>
</div>
{% endblock %}
