{% load static %}
<head>
<title>Watch_Dogs //LARP</title>
<link rel="stylesheet" href="{% static 'css/ctOS.css' %}">
<link rel="shortcut icon" href="{% static 'img/ctOS.png' %}" type="image/png">
</head>
<body>
<table border="0" cellpadding="0" cellspacing="0" width="100%">
<tr><td width="50%"><span id="ctOS" style="  font-size: 30pt; font-family: 'Helvetica';">_profiler_App <span id="_">&nbsp;&nbsp;&nbsp;&nbsp;</span><span id="ct">cт</span><span id="OS">OS</span><br><span style=" font-size: 30pt;">//v0.9</span></span></td></tr>
</table>
<hr />
<div style="padding:3px;border:1px solid #A9B8C2; background:#202020;"><table border="0" cellpadding="0" cellspacing="0" width="100%">
 <tr><td width="90%">
<p>&nbsp;</p>
<span style="color:#f0fff0;"> //Пример команды: #!/blume/ctOS script_name=blackout </span>
<table align="left" border="1" cellpadding="1" cellspacing="1" width="100%">
 <tbody>
 <tr>
 <td style="width:150px"><span style="color:#f0fff0;">* blackout</span></td>
 <td><span style="color:#f0fff0;">//вырубит всё электричество нахрен. Помнишь &quot;терракт&quot; от Реймонда Кинни? Вот он провернул эту штуку.</span></td>
 </tr>
 <tr>
 <td><span style="color:#f0fff0;">* profile_id&nbsp;</span></td>
 <td><span style="color:#f0fff0;">//позволяет глянуть профиль того, чей id в системе ты знаешь. По мне, так проще сканировать QR. К слову, команда hack_id00-00_cash покажет, сколько денег на счету у человека, а команда hack_id00-00_cash_xxx, где 00-00 id, а ххх — сумма... позволит украсть эту сумму со счёта.</span></td>
 </tr>
 <tr>
 <td><span style="color:#f0fff0;">* cash </span></td>
 <td><span style="color:#f0fff0;">//если ты вдруг навзламывал других жителей и у тебя на электронном счёте завалялись деньги, &nbsp; можешь этой командой взломать банкомат. Не злоупотребляй, команда относительно палевная.</span></td>
 </tr>
 <tr>
 <td><span style="color:#f0fff0;">* hack_id00-00_cash </span></td>
 <td><span style="color:#f0fff0;">//покажет, сколько денег на счету у человека</span></td>
 </tr>
 <tr>
 <tr>
 <td><span style="color:#f0fff0;">* hack_id00-00_cash_xxx</span></td>
 <td><span style="color:#f0fff0;">//00-00 id, а ххх — сумма... позволит украсть эту сумму со счёта.</span></td>
 </tr>
 <tr>
 <td><span style="color:#f0fff0;">* hacking </span></td>
 <td><span style="color:#f0fff0;">//команда прямиком из DedSec. Позволяет в зависимости от синтокса взломать устройство и украсть &nbsp; что-нибудь. Используй подкоманды, что я выписал тебе ниже:</span></td>
 </tr>
 <tr>
 <td><span style="color:#f0fff0;">** cash_xxx </span></td>
 <td><span style="color:#f0fff0;">//и не забудь вместо ххх дописать количество денег, которое ты хочешь своровать. </span></td>
 </tr>
 <tr>
 <td><span style="color:#f0fff0;">** car</span></td>
 <td><span style="color:#f0fff0;">//ну мало ли, что случилось в жизни. Стащи его машину, пока он зевает за углом! </span></td>
 </tr>
 <tr>
 <td><span style="color:#f0fff0;">** file_ххх </span></td>
 <td><span style="color:#f0fff0;">//если не запоролен... и не забудь ввести название. </span></td>
 </tr>
 <tr>
 <td><span style="color:#f0fff0;">** tran </span></td>
 <td><span style="color:#f0fff0;">//вызывает перегрузку в щитках или трансформаторах ctOS. Взрыв или короткий блэкаут обеспечен. </span></td>
 </tr>
 <tr>
 <td><span style="color:#f0fff0;">* trush </span></td>
 <td><span style="color:#f0fff0;">//создаст помехи. Очень удобно, если надо найти сволочь, которая ворует твои файлы. Ну, или если &nbsp; тебя сканирует полицейский сканер. </span></td>
 </tr>
 <tr>
 <td><span style="color:#f0fff0;">* skaning</span></td>
 <td><span style="color:#f0fff0;">//если тебе открылся доступ к сканерам, то позволит узнать id ближайших к тебе людей. Удобная вещь.</span></td>
 </tr>
 </tbody>
</table>
<p>&nbsp;</p>

<span style="font-size:18pt"><a href="http://ctosblume.pythonanywhere.com/" target="_blank"><span id="ctOS" style="font-family: 'Helvetica';"><span id="_">&nbsp;&nbsp;&nbsp;&nbsp;</span><span id="ct">ct</span><span id="OS">OS</span></span></a></span>

<p>&nbsp;</p></td></tr>
</table></div>

<hr /><div style="background:#202020;"><a href="http://ctosblume.pythonanywhere.com/command_full/">Полная версия сайта</a></div>
</body>
</html>
