{% extends 'chat/base_prof.html' %}

{% block content %}

<span style="font-size:30px;"><p><span style="color:#ffffff;">Иззи Куинн<br />
<b>Мастурбирует на фото котят</b><br />
</span></p></span>
<img
src="/static/img/0024.jpg"
height="500" width="500"
>
<span style="font-size:24px;"><p><span style="color:#ffffff;">
Возраст: 26<br />
Род деятельности: Безработный<br />
Годовой доход: $121 000<br />
Судимости и приводы: Нет<br />
<br />
ID профайла в </span>
</span><span id="ctOS"  style="font-family: 'Helvetica'"><span id="_">&nbsp;&nbsp;&nbsp;</span><span id="ct">ct</span></span></span><span style="color:#ffffff;">OS:
 00-24.</span></p></span>

{% endblock %}
