{% extends 'chat/base_prof.html' %}

{% block content %}

<span style="font-size:30px;"><p><span style="color:#ffffff;">Джек Куинн<br />
<b>Коллекционирует шахматные доски</b><br />
</span></p></span>
<img
src="/static/img/0085.jpg"
height="500" width="500"
>
<span style="font-size:24px;"><p><span style="color:#ffffff;">
Возраст: 31<br />
Род деятельности: Владелец фабрики элитного алкоголя<br />
Годовой доход: $40 000 000<br />
Судимости и приводы: Нет<br />
ID профайла в </span>
</span><span id="ctOS"  style="font-family: 'Helvetica'"><span id="_">&nbsp;&nbsp;&nbsp;</span><span id="ct">ct</span></span></span><span style="color:#ffffff;">OS:
 00-85.</span></p></span>

{% endblock %}
