{% extends 'chat/base_prof.html' %}

{% block content %}

<span style="font-size:30px;"><p><span style="color:#ffffff;">Джей-Би Маркович<br />
<b>Профессиональный хакре, известный как Дефолт</b><br />
</span></p></span>
<img
src="/static/img/0787.jpg"
height="500" width="500">
<span style="font-size:24px;"><p><span style="color:#ffffff;">
Возраст: 27<br />
Род деятельности: Диджей Эмброуз<br />
Годовой доход: $145 000<br />
Судимости и приводы: Нет<br />
ID профайла в </span>
</span><span id="ctOS"  style="font-family: 'Helvetica'"><span id="_">&nbsp;&nbsp;&nbsp;</span><span id="ct">ct</span></span></span><span style="color:#ffffff;">OS:
 07-87.</span></p></span>

{% endblock %}
