{% extends 'chat/base_prof.html' %}

{% block content %}

<span style="font-size:30px;"><p><span style="color:#ffffff;">Джейкоб Стивен<br />
<b>Разводит аквариумных рыбок</b><br />
</span></p></span>
<img
src="/static/img/1124.jpg"
height="500" width="500">
<span style="font-size:24px;"><p><span style="color:#ffffff;">
Возраст: 25<br />
Род деятельности: Работа в BLUME<br />
Годовой доход: неизвестен<br />
Судимости и приводы: нет<br />
ID профайла в </span>
</span><span id="ctOS"  style="font-family: 'Helvetica'"><span id="_">&nbsp;&nbsp;&nbsp;</span><span id="ct">ct</span></span></span><span style="color:#ffffff;">OS:
 11-24.</span></p></span>

{% endblock %}
