{% extends 'chat/base_prof.html' %}

{% block content %}
<span style="font-size:25px;"><p><span style="color:#ffffff;">Эн Дви Гаст<br />
<b>Смотрит фильмы и сериалы о научной фантастике</b><br />
</span></p></span>

<span style="font-size:20px;"><p><span style="color:#ffffff;">Возраст: 29<br />
Род деятельности: Работает на Blume<br />
Годовой доход: $3 500 009<br />
Судимости и приводы: Нет<br />
Посещает сомнительные места, использует служебное положение, выявлена склонность к педофилии.<br />
ID профайла в </span><span id="ctOS"  style="font-family: 'Helvetica'"><span id="_">&nbsp;&nbsp;&nbsp;</span><span id="ct">ct</span></span></span><span style="color:#ffffff;">OS: 11-15</span></p></span>
{% endblock %}
