{% extends 'chat/base_prof.html' %}

{% block content %}

<span style="font-size:30px;"><p><span style="color:#ffffff;">Pur$uit<br />
<b>ОШИБКА СКАНИРОВАНИЯ</b><br />
</span></p></span>
<img
src="/static/img/2303.jpg"
height="500" width="500">
<span style="font-size:24px;"><p><span style="color:#ffffff;">Род деятельности: Ошибка<br />
Годовой доход: Ошибка<br />
Судимости и приводы: Ошибка<br />
ID профайла в </span>
</span><span id="ctOS"  style="font-family: 'Helvetica'"><span id="_">&nbsp;&nbsp;&nbsp;</span><span id="ct">ct</span></span></span><span style="color:#ffffff;">OS:
 Удален.</span></p></span>

{% endblock %}
