{% extends 'chat/base_prof.html' %}

{% block content %}

<span style="font-size:30px;"><p><span style="color:#ffffff;">Ник Мерлок<br />
<b>Стрельба в тире</b><br />
</span></p></span>
<img
src="/static/img/3998.jpg"
height="500" width="500"
>
<span style="font-size:24px;"><p><span style="color:#ffffff;">
Возраст: 30<br />
Род деятельности: Секьюрити<br />
Годовой доход: 240 000$<br />
Судимости и приводы: Были приводы за драки<br />
Драки<br />
ID профайла в </span>
</span><span id="ctOS"  style="font-family: 'Helvetica'"><span id="_">&nbsp;&nbsp;&nbsp;</span><span id="ct">ct</span></span></span><span style="color:#ffffff;">OS:
 39-98.</span></p></span>

{% endblock %}
