{% extends 'chat/base_prof.html' %}

{% block content %}

<span style="font-size:30px;"><p><span style="color:#ffffff;">Имя<br />
<b>Поиск и коллекционирование старой и/или раритетной техники, фотографий</b><br />
</span></p></span>
<img
src="/static/img/4575.jpg"
height="500" width="500"
>
<span style="font-size:24px;"><p><span style="color:#ffffff;">
Возраст: 20<br />
Род деятельности: Менеджер торгового зала H&M в Rosemont Shopping Outlet.<br />
Годовой доход: 45 940$<br />
Судимости и приводы: Привод в полицию за административное нарушение. Назначено две недели общественных работ. Задержана как участница несанкционированного митинга. Выписан штраф. Участница массовой драки. Выписан штраф.<br />
Порча общественного имущества, побег от полиции, возможное хранение огнестрельного оружия, участие в митингах и уличных драках, распространение и употребление психотропных веществ (не доказано)<br />
ID профайла в </span>
</span><span id="ctOS"  style="font-family: 'Helvetica'"><span id="_">&nbsp;&nbsp;&nbsp;</span><span id="ct">ct</span></span></span><span style="color:#ffffff;">OS:
 45-75.</span></p></span>

{% endblock %}
