{% extends 'chat/base_prof.html' %}

{% block content %}

<span style="font-size:30px;"><p><span style="color:#ffffff;">Мила Найк<br />
<b>Аквариумист, мечтает уехать в Майами сёрфить.</b><br />
</span></p></span>
<img
src="/static/img/5452.jpg"
height="500" width="500">
<span style="font-size:24px;"><p><span style="color:#ffffff;">
Возраст: 26<br />
Род деятельности: Хозяйка кафе.<br />
Годовой доход: $451 000 <br />
Судимости и приводы: Привод после дебаша на фоне нервного срыва - назначено лечение у психолога.<br />
ID профайла в </span>
</span><span id="ctOS"  style="font-family: 'Helvetica'"><span id="_">&nbsp;&nbsp;&nbsp;</span><span id="ct">ct</span></span></span><span style="color:#ffffff;">OS:
 54-52.</span></p></span>

{% endblock %}
