{% extends 'chat/base_prof.html' %}

{% block content %}

<span style="font-size:30px;"><p><span style="color:#ffffff;">Морелла Рейен<br />
<b>Вышивка крестиком</b><br />
</span></p></span>
<img
src="/static/img/5572.jpg"
height="500" width="500"
>
<span style="font-size:24px;"><p><span style="color:#ffffff;">
Возраст: 23<br />
Род деятельности: Семейный врач<br />
Годовой доход: Неизвестно<br />
Судимости и приводы: Нет<br />
В студенческие годы несколько раз серьезно напивалась с друзьями в барах.<br />
ID профайла в </span>
</span><span id="ctOS"  style="font-family: 'Helvetica'"><span id="_">&nbsp;&nbsp;&nbsp;</span><span id="ct">ct</span></span></span><span style="color:#ffffff;">OS:
 55-72.</span></p></span>

{% endblock %}
