{% extends 'chat/base_prof.html' %}

{% block content %}

<span style="font-size:30px;"><p><span style="color:#ffffff;">Шима Татсуя<br />
<b>---</b><br />
</span></p></span>
<img
src="/static/img/.jpg"
height="500" width="500"
>
<span style="font-size:24px;"><p><span style="color:#ffffff;">
Возраст:<br />
Род деятельности: <br />
Годовой доход:<br />
Судимости и приводы:<br />
<br />
ID профайла в </span>
</span><span id="ctOS"  style="font-family: 'Helvetica'"><span id="_">&nbsp;&nbsp;&nbsp;</span><span id="ct">ct</span></span></span><span style="color:#ffffff;">OS:
 -.</span></p></span>

{% endblock %}
