{% extends 'chat/base_prof.html' %}

{% block content %}

<span style="font-size:30px;"><p><span style="color:#ffffff;">Шима Татсуя<br />
<b>Профессиональный стритрейсер</b><br />
</span></p></span>
<img
src="/static/img/5886.jpg"
height="500" width="500"
>
<span style="font-size:24px;"><p><span style="color:#ffffff;">
Возраст: 35<br />
Род деятельности: Владелец дилера оптики Blume<br />
Годовой доход: $  653 000<br />
Судимости и приводы: Опасное вождение - выписан штраф. Нарушение скоростного режима - выписан штраф. Вождение по мостовой - выписан штраф. Пересечение двойной сплошной - 64 часа общественных работ. Имеет 187 неоплаченных штрафа. Выписан орден на арест.<br />
<br />
ID профайла в </span>
</span><span id="ctOS"  style="font-family: 'Helvetica'"><span id="_">&nbsp;&nbsp;&nbsp;</span><span id="ct">ct</span></span></span><span style="color:#ffffff;">OS:
 58-86.</span></p></span>

{% endblock %}
