{% extends 'chat/base_prof.html' %}

{% block content %}

<span style="font-size:30px;"><p><span style="color:#ffffff;">Александра Роуз<br />
<b>На шее носит обручальное кольцо мужа.</b><br />
</span></p></span>
<img
src="/static/img/6957.jpg"
height="500" width="500"
>
<span style="font-size:24px;"><p><span style="color:#ffffff;">
Возраст: 23 <br />
Род деятельности: Подрабатывает в Starbucks официанткой.<br />
Годовой доход: $24000<br />
Судимости и приводы: Привод за угон общественного транспорта в алкогольном опьянении <br />
Распитие спиртных  напитков, дебоширство, отстрел чаек, поджог.<br />
ID профайла в </span>
</span><span id="ctOS"  style="font-family: 'Helvetica'"><span id="_">&nbsp;&nbsp;&nbsp;</span><span id="ct">ct</span></span></span><span style="color:#ffffff;">OS:
 69-57.</span></p></span>

{% endblock %}
