{% extends 'chat/base_prof.html' %}

{% block content %}

<span style="font-size:30px;"><p><span style="color:#ffffff;">Шарлотта Майк<br />
<b>Стритрейсер</b><br />
</span></p></span>
<img
src="/static/img/7557.jpg"
height="500" width="500"
>
<span style="font-size:24px;"><p><span style="color:#ffffff;">
Возраст: 20<br />
Род деятельности: Ошибка<br />
Годовой доход: Ошибка<br />
Судимости и приводы: Опасное вождение - выписан штраф. Вождение по мостовой - 10 часов общественных работ. Превышение скорости - штраф<br />
Опасное вождение, превышение скоростного режима, уход от погони, оказание сопротивления аресту.<br />
ID профайла в </span>
</span><span id="ctOS"  style="font-family: 'Helvetica'"><span id="_">&nbsp;&nbsp;&nbsp;</span><span id="ct">ct</span></span></span><span style="color:#ffffff;">OS:
 -.</span></p></span>

{% endblock %}
