{% extends 'chat/base_prof.html' %}

{% block content %}

<span style="font-size:30px;"><p><span style="color:#ffffff;">Арм Драйвер<br />
<b>Гедонизм, любовь к мотоциклам и старым, архаичным машинам без электроники, 50-70х годов</b><br />
</span></p></span>
<img
src="/static/img/7939.jpg"
height="500" width="500"
>
<span style="font-size:24px;"><p><span style="color:#ffffff;">
Возраст: 21<br />
Род деятельности: Массажист<br />
Годовой доход: Не известен.<br />
Судимости и приводы:<br />
<br />
ID профайла в</span>
</span><span id="ctOS"  style="font-family: 'Helvetica'"><span id="_">&nbsp;&nbsp;&nbsp;</span><span id="ct">ct</span></span></span><span style="color:#ffffff;">OS:
 79-39.</span></p></span>

{% endblock %}
