{% extends 'chat/base_prof.html' %}

{% block content %}

<span style="font-size:30px;"><p><span style="color:#ffffff;">Бари Стентон<br />
<b>Коллекционирует оружие.</b><br />
</span></p></span>
<img
src="/static/img/9750.jpg"
height="500" width="500"
>
<span style="font-size:24px;"><p><span style="color:#ffffff;">
Возраст: 38 лет <br />
Род деятельности: Лейтенант полиции<br />
Годовой доход: $50 000<br />
Судимости и приводы: Нет<br />
Информация удалена<br />
ID профайла в </span>
</span><span id="ctOS"  style="font-family: 'Helvetica'"><span id="_">&nbsp;&nbsp;&nbsp;</span><span id="ct">ct</span></span></span><span style="color:#ffffff;">OS:
 97-50.</span></p></span>

{% endblock %}
