<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<title>Watch_Dogs //LARP - _Profiler INFO</title>
<!--<link type="text/css" rel="stylesheet" href="css_ctOS.css" />-->
</head>

<body style="background:url('http://ctos.do.am/fon.jpg');margin:0;padding:0;">
<table border="0" cellpadding="0" cellspacing="0" width="100%">
<tr><td width="50%"><span style="font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 50pt; line-height: normal; font-family: bold Verdana Tahoma;"><span style="color: rgb(255, 255, 255);">_profiler_App </span><span style="background-color: rgb(255, 255, 255); color: rgb(255, 255, 255);">__</span><span style="background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);">ct</span><span style="color: rgb(255, 255, 255);">OS</span><br><span style="color: rgb(255, 255, 255); font-size: 30pt;">//v0.9</span></span></td></tr>
</table>
<hr />
<div style="padding:3px;border:1px solid #A9B8C2; background:#202020;"><table border="0" cellpadding="0" cellspacing="0" width="100%">
 <tr><td width="90%"><pre id="console">
<span style="color:#f0fff0;"><span style="font-size:14px;"> -------------------------------------------</span> </span><span style="color:#f0fff0;">
 login as: ds
 pi@192.168.1.54&#39;s password:
 <span style="font-size:14px;">-------------------------------------------</span>
 cmd:
 &gt;language: rus
 translating...
 &gt;help
 Error &quot;help&quot; command: lolnope
 &gt;about_program

 _ДОБРО ПОЖАЛОВАТЬ...
 _profiler ctOS v0.9

 //В данном профайлере можно найти краткую информацию о любом жителе Чикаго, историю его &quot;косяков&quot; и другие
 интересные вещи. DedSec своих не бросает, поэтому для новичков мы закинули сюда некоторые команды, которые
 понимает ctOS. Официально, их может использовать только Blume, так что постарайся не спалиться, OK?
 //А сейчас мы прошьём твой телефон.

 ........................................
 Доступ к кратким профилям жителей Чикаго.
 [ДОСТУП ПОЛУЧЕН]
 ........................................
 Расширенный доступ к управлению ctOS.
 [ДОСТУП ПОЛУЧЕН]
 ........................................
 Удалённый доступ к энергоресурсам ctOS.
 [ДОСТУП ПОЛУЧЕН]
 ........................................
 Доступ к удалённым сканерам ctOS.
</span><span style="color:#ff0000;"> [В ДОСТУПЕ ОТКАЗАНО]</span><span style="color:#f0fff0;">
 ........................................

 //Ну, и пара команд от нас, как и обещали.
 //Всегда пиши, кому отправляешь команду. Например, #!/blume/ctOS и продолжай уже командой script_name=
 //Ну, и список команд ты найдёшь <a href="http://ctosblume.pythonanywhere.com/command/" target="_blank"><span style="color:#FFFFFF">>здесь< >нажми<</span></a>
 //Команда должна получиться чем-то вроде: #!/blume/ctOS script_name=blackout
 //Некоторые инженеры имеют особые атрибуты. Обычно, они их пишут перед командой. У нас их перечня нет.</span></span></pre>


<pre>
<span style="color:#f0fff0;"><span style="white-space: pre-wrap;">&nbsp;&nbsp;&nbsp;&nbsp;____&nbsp;&nbsp;___________&nbsp;&nbsp;______&nbsp;____________ </span>
&nbsp;&nbsp;&nbsp;/&nbsp;__&nbsp;\/&nbsp;____//&nbsp;__&nbsp;\/&nbsp;____//&nbsp;___//&nbsp;____/\
&nbsp;&nbsp;/&nbsp;/&nbsp;/&nbsp;/&nbsp;__/&nbsp;//&nbsp;/&nbsp;/&nbsp;/\__&nbsp;\&nbsp;/&nbsp;__/&nbsp;/&nbsp;/\___\/
&nbsp;/&nbsp;/_/&nbsp;/&nbsp;/___//&nbsp;/_/&nbsp;/___/&nbsp;//&nbsp;/___/&nbsp;/_/__
/_____/_____//_____//____//_____/\_____/\
\_____\\____\\\____\\____\\_____\_\____\/ </span></pre>

<p>&nbsp;</p>

<p>&nbsp; &nbsp;</p>

<p>&nbsp;</p>

<pre>
<span style="font-size:18pt"><a href="http://ctosblume.pythonanywhere.com" target="_blank"><span style="background-color: rgb(255, 255, 255); color: rgb(255, 255, 255);">_____</span><span style="background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);">ct</span><span style="color: rgb(255, 255, 255);">OS</span></a></pre></span>
</td></tr>
</table></div>

<hr /><div style="background:#202020;"><a href="http://ctosblume.pythonanywhere.com/info_full/">Полная версия сайта</a></div>
</body>
</html><div id="utbr8214" rel="s30"></div>
