<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<title>Watch_Dogs //LARP - _Profiler INFO</title>
<!--
<link type="text/css" rel="StyleSheet" href="/.s/src/css/641.css" />
	<link type="text/css" rel="stylesheet" href="/.s/src/base.css" />
	<link type="text/css" rel="stylesheet" href="/.s/src/layer7.css" />
	<script type="text/javascript" src="/.s/src/jquery-1.10.2.js"></script>
	<script type="text/javascript" src="/.s/src/uwnd.min.js?2"></script>
	<script type="text/javascript" src="//s30.ucoz.net/cgi/uutils.fcg?a=uSD&ca=2&ug=999&r=0.797329963106318"></script>
<script type="text/javascript">//------------UCOZ-JS-INIT_CODE-----------
	window.ulb = {photoPage:"Перейти на страницу с фотографией.", closeBtn:"Закрыть", error:"Запрошенный контент не может быть загружен. Пожалуйста, попробуйте позже.", next:"Следующий", prev:"Предыдущий", btnPlay:"Начать слайдшоу", btnToggle:"Изменить размер", };
//------------UCOZ-JS-END-----------</script>

	<link type="text/css" rel="stylesheet" href="/.s/src/ulightbox/ulightbox.min.css" />
	<script type="text/javascript"   src="/.s/src/ulightbox/ulightbox.min.js"></script>
	<script type="text/javascript" async defer src="https://www.google.com/recaptcha/api.js?onload=reCallback&render=explicit&hl=ru"></script>
	<script type="text/javascript">//------------UCOZ-JS-CODE-----------

	function reCallback() {
		$('.g-recaptcha').each(function(index, element ) {
			element.setAttribute('rcid', index );
			if ($(element).is(':empty') ) grecaptcha.render(element, {sitekey:element.getAttribute('data-sitekey'), theme:element.getAttribute('data-theme'), size:element.getAttribute('data-size') });
		});
	}
	function reReset(reset ) {
		reset && grecaptcha.reset(reset.previousElementSibling.getAttribute('rcid') );
		if (!reset ) for (rel in ___grecaptcha_cfg.clients ) grecaptcha.reset(rel );
	}

//------------UCOZ-JS-END-----------
</script>

	<style type="text/css">.UhideBlock{display:none; }
</style>
<script type="text/javascript">
	function uSocialLogin(t) {
		var params = { 'vkontakte':{ 'width':790, 'height':400 } };
		var ref = escape(location.protocol + '//' + ('ctos.do.am' || location.hostname) + location.pathname + ((location.hash ? ( location.search ? location.search + '&' : '?' ) + 'rnd=' + Date.now() + location.hash : ( location.search || '' ))));
		// var ref = escape(location.href);
		window.open('/'+t+'?ref='+ref,'conwin','width='+params[t].width+',height='+params[t].height+',status=1,resizable=1,left='+parseInt((screen.availWidth/2)-(params[t].width/2))+',top='+parseInt((screen.availHeight/2)-(params[t].height/2)-20)+'screenX='+parseInt((screen.availWidth/2)-(params[t].width/2))+',screenY='+parseInt((screen.availHeight/2)-(params[t].height/2)-20));
		return false;
	}
</script>
-->
<link type="text/css" rel="stylesheet" href="css_ctOS.css" />

</head>

<body style="background:url('http://ctos.do.am/fon.jpg') #222222; margin:0px; padding:0px;">
<div id="utbr8214" rel="s30"></div>

<!--U1AHEADER1Z--><table border="0" cellpadding="0" cellspacing="0" width="100%"><tbody><tr><td width="100%" align="center"><table border="0" cellpadding="0" cellspacing="0">
<tbody><tr><td width="261" height="85"><span style="font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 60pt; line-height: normal; font-family: &quot;bold Verdana&quot;, Tahoma;"><span style="color: rgb(255, 255, 255);"></span><span style="background-color: rgb(255, 255, 255); color: rgb(255, 255, 255);">____</span><span style="background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);">ct</span><span style="color: rgb(255, 255, 255);">OS</span><br><span style="color: rgb(255, 255, 255); font-size: 14pt;"></span></span></td>
<td width="457"></td>
<td style="font-size:9px;padding-right:35px;"><div style="color:#CCCCCC;text-align:center;"></div></td>
</tr>
</tbody></table></td></tr></tbody></table>

<table cellpadding="0" cellspacing="0" border="0" width="100%" style="padding: 0 10px;"><tr><td width="100%" align="center">

<!-- <middle> -->
<table border="0" cellpadding="0" cellspacing="0" width="100%">
<tr>
<td valign="top" width="202">

</td>

<td valign="top" style="padding:0 10px;">
<table border="0" cellpadding="0" cellspacing="0" align="center" width="840">
  <tr><!--<td width="5" height="5" style="background:#202020;"></td><td style="background:#202020;"></td><td width="5" height="5" style="background:#202020;"></td></tr>
  <tr><td style="background:#202020;"></td><td style="background: rgb(32, 32, 32);--> <td style="padding: 5px; width: 830px;">
  <!-- <span style="font-size:14px;"><div id="nativeroll_video_cont" style="display:none;"></div>
		<script>
			window.adb_site_type = 'ucoz';
			window.adb_showcrit = 1 ;
			window.adb_abandoned = 0 ;
			//window.ucoz_site_type = 'ucoz' ;
			window.adb_site_cat = '9' ;
		</script>
		<script id="crt_adb_place" type="text/javascript" src="/.s/src/crit_image.js?v=5" async></script>  </span> -->

<!-- <pre id="console"> -->


  <p   align="right" ><span style="font-size:30px"><span style="color:#7FFFD4;">  _be ready to be</span><span style="color:#ff0000;"> HACKED&nbsp;&nbsp;&nbsp;</span></span></p>
    <p align="center" >
    <span style="color:#ffffff; font-size: 16pt;">
    Добро пожаловать в модуль <br>
    <span style="font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 10pt; line-height: normal; font-family: &quot;bold Verdana&quot;, Tahoma;"><span style="background-color: rgb(255, 255, 255); color: rgb(255, 255, 255);">__</span><span style="background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);">ct</span><span style="color: rgb(255, 255, 255);">OS</span></span>, построенный специально для [КРИ] WATCH_DOGS by Jokes and Thrills.<br>
    Мы очень рады видеть вас на нашей ролевой игре.</span>
  </p>
</br>
  <p align="justify" > <span style="color:#f0fff0; font-size: 14pt;">
    Коротко об этом модуле:<br>
    С помощью этого сайта мастера решили проблему переноса механики хакерства согласно требованиям фендома в реалии КРИ.<br>
    Доступ к этому модулю есть только у тех персонажей, у которых прописана способность хакер или доступ к <span style="font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 10pt; line-height: normal; font-family: &quot;bold Verdana&quot;, Tahoma;"><span style="background-color: rgb(255, 255, 255); color: rgb(255, 255, 255);">__</span><span style="background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);">ct</span><span style="color: rgb(255, 255, 255);">OS</span></span> в анкете.<br>
    У каждого хакера есть свой уникальный ник, который он использует при проведении взломов <span style="font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 10pt; line-height: normal; font-family: &quot;bold Verdana&quot;, Tahoma;"><span style="background-color: rgb(255, 255, 255); color: rgb(255, 255, 255);">__</span><span style="background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);">ct</span><span style="color: rgb(255, 255, 255);">OS</span></span>.<br>
    После перехода на игровую страницу откроется чат.<br>
    Там требуется нажать в поле для отправки сообщения, ввести свой ник хакера согласно хакерскому прозвищу из анкеты.<br>
    Не указывайте имя персонажа.<br>
    Помните, что чат ведёт реальный человек, перед ним лежит список допущенных к управлению <span style="font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 10pt; line-height: normal; font-family: &quot;bold Verdana&quot;, Tahoma;"><span style="background-color: rgb(255, 255, 255); color: rgb(255, 255, 255);">__</span><span style="background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);">ct</span><span style="color: rgb(255, 255, 255);">OS</span></span> ников.<br>
    Если ваш ник не находится в списке, то <span style="font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 10pt; line-height: normal; font-family: &quot;bold Verdana&quot;, Tahoma;"><span style="background-color: rgb(255, 255, 255); color: rgb(255, 255, 255);">__</span><span style="background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);">ct</span><span style="color: rgb(255, 255, 255);">OS</span></span> будет возвращать вам ошибку.<br>
  </span></span></p>
<br>
  <p align="center" >
      <span style="color:#999999; font-size: 18pt;"> Сайт или чат не работает? Сообщи об этом техам!<br><br></span>
      <span style="color:#ffffff; font-size: 15pt;"> >панель управления <span style="font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 14pt; line-height: normal; font-family: &quot;bold Verdana&quot;, Tahoma;"><span style="background-color: rgb(255, 255, 255); color: rgb(255, 255, 255);">__</span><span style="background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);">ct</span><span style="color: rgb(255, 255, 255);">OS</span></span><</span>
  </p>

  <p>&nbsp;</p>
</table></td>

<td valign="top" width="202"></td></tr>
</table>

<table border="0" cellpadding="4" cellspacing="0" width="898" height="50" >
<tr><td align="center" style="color:#FFFFFF;">_WATCH_DOGS//ROLEGAME. &copy; 2018<br /><span class="pbpyh5As"></span></td></tr>
</table>
</td></tr></table>



</body>
</html>
